.sidecontentpullout {
			background-color: #9CCDAB;
			color: black;
			padding: 4px 3px;
			-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;
     width: 30px;
		}

		.sidecontentpullout:hover {
			background-color: #1A3D27;
			color: White;
		}

		.sidecontent {
			background-color: Black;
			color: White;
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
           
		}

		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
.pull-out-head{
    text-align: justify;
   width: 300px;

}
.btn-a{
    height: 35px;
    width: auto;
    cursor: pointer;
    border: 2px solid #468558;
    background: #A8E9BF;
    	-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
    color: #05260F;
    text-align: center;
    padding-top: 5px;

}
.hdr-pll-out{
    height: 40px;
    background: #A8E9BF;
    width: 100%;
    color: #05260F;
    text-align: center;

}
.my-text{
    width: 250px;
    text-align: justify;
}
#notfound {
  margin:0 auto;
}
.about-me-large{
height: 400px;
}
.about-me{
    height: 400px;
   border: #BDEB43 solid 1px;
    overflow:auto;
}
.about-me:hover{
    cursor: pointer;
      border: #BDEB43 solid 5px;
    border-style: double;
     background-blend-mode: screen;
}
.about-head{
    text-align: center;
    height: auto;
    margin-left: -11px;
    width: 110%;
    color: #BDEE38;
    text-decoration: underline;
    text-decoration-color: #BDEE38;
    text-decoration-style: dashed;
}
.about-body{
    height: auto;
    text-align: center;
    
}
.about-footer{
    height: 10%;
    background: #CBF439;
     margin-left: -11px;
    width: 110%;
}
}